@import '../partials/colors';

$header-logo: 22px;

.onmobile {
    transform: translateY(-500px);
}
.nav-container{
	height: 75px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    position: fixed;
    width: 100%;
    z-index: 10;
    .nav-links {
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin: 0;

        li {
            list-style: none;
        }
        a {
            color: $header-nav;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: 500;
            padding: 27px 20px;
            display: inline-block;
            transition: 0.5s color ease-in-out;

            &:hover {
                color: #2980b9;
            }
        }

        .active-link {
            color: #2980b9;
            border-bottom: 3px solid #2980b9;
        }
    }

    .burger {
		display: none;
		padding: 15px;
        div {
            width: 25px;
            height: 3px;
            background-color: $header-nav;
            margin: 5px;
        }
    }
}

.header-logo {
    height: 40px;
    width: 130px;
}

@media screen and (max-width: 1100px) {
    nav {
        .nav-links {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        .nav-links {
            display: none;
		}
		.burger {
			display: block;
		}
    }
    .onmobile {
		display: flex;
		position: fixed;
		flex-direction: column;
		transform: translateY(-500px);
		transition: 0.3s transform ease-in;
		margin: 0;
		padding: 0;
		z-index: 9;
		width: 100%;
		box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
		li {
			list-style: none;
			background-color: #fff;
			p {
				margin: 0;
				text-align: center;
			}
            a {
				display: inline-block;
				text-align: center;
				padding: 15px 100px;
				text-decoration: none;
				background-color: #fff;
				color: black;
            }
        }
	}
}


.activate-mob {
	transform: translateY(0);
	margin-top: 75px;
}

.mobactive-link {
	color: #2980b9 !important;
}